

.simplePopup {
display:none;
position:fixed;
/*border:4px solid #808080;
background:#fff;*/
z-index:3;
padding:12px;
width: 15%;
min-width: 15%;
}

.simplePopupClose {
float:right;
cursor:pointer;
margin-left:10px;
margin-bottom:10px;
}

.simplePopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index:1;
}
